In [3]:
import pandas as pd
import numpy as np

–°–∫–∞—á–∞—Ç—å –¥–∞–Ω–Ω—ã–µ –ø–æ —Å—Å—ã–ª–∫–µ
https://www.kaggle.com/datasets/ionaskel/laptop-prices
üåü –°—á–∏—Ç–∞—Ç—å –¥–∞–Ω–Ω—ã–µ —Å –ø–æ–º–æ—â—å—é pandas
üåü –í—ã–≤–µ—Å—Ç–∏ –Ω–∞ —ç–∫—Ä–∞–Ω –ø–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫

In [4]:
df = pd.read_csv('./kc_house_data.csv')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180.0,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170.0,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770.0,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050.0,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680.0,0,1987,0,98074,47.6168,-122.045,1800,7503

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21611 non-null  float64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(6), int64(14), object(1)
memory usage: 3.5+ MB

#### 1.1 –°–æ–∑–¥–∞—Ç—å –Ω–æ–≤—ã–π –ø—Ä–∏–∑–Ω–∞–∫ price_per_sq_lot, –∫–æ—Ç–æ—Ä—ã–π –±—É–¥–µ—Ç —Å–æ–¥–µ—Ä–∂–∞—Ç—å —Å—Ä–µ–¥–Ω—é—é —Å—Ç–æ–∏–º–æ—Å—Ç—å –∑–∞ –æ–¥–∏–Ω –∫–≤. –º–µ—Ç—Ä –æ–±—â–µ–π –ø–ª–æ—â–∞–¥–∏

In [5]:
df1 = df.copy()

In [6]:
df1['price_per_sq_lot'] = df1['sqft_lot']/df1['price']
df1.head(2)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price_per_sq_lot
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,1180.0,0,1955,0,98178,47.5112,-122.257,1340,5650,0.025462
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,2170.0,400,1951,1991,98125,47.7210,-122.319,1690,7639,0.013461

#### 1.2 –°–æ–∑–¥–∞—Ç—å –Ω–æ–≤—ã–π –ø—Ä–∏–∑–Ω–∞–∫ delta_renovated, –∫–æ—Ç–æ—Ä—ã–π –±—É–¥–µ—Ç —Å–æ–¥–µ—Ä–∂–∞—Ç—å —Ä–∞–∑–Ω–∏—Ü—É –≤ –≥–æ–¥–∞—Ö –º–µ–∂–¥—É –≥–æ–¥–æ–º —Ä–µ–Ω–æ–≤–∞—Ü–∏–µ–π –¥–æ–º–∞ –∏ –≥–æ–¥–æ–º –ø–æ—Å—Ç—Ä–æ–π–∫–∏ –¥–æ–º–∞
–ï—Å–ª–∏ —Ä–µ–Ω–æ–≤–∞—Ü–∏–∏ –¥–æ–º–∞ –Ω–µ –±—ã–ª–æ, —Ç–æ –≤ –Ω–æ–≤–æ–º –ø—Ä–∏–∑–Ω–∞–∫–µ –ø–æ—Å—Ç–∞–≤—å—Ç–µ 0

In [9]:
df1['delta_renovated'] = 0
df1.loc[df1['yr_renovated'] > 0, 'delta_renovated'] = df1['yr_renovated'] - df1['yr_built']
df1

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price_per_sq_lot,delta_renovated
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,0,1955,0,98178,47.5112,-122.257,1340,5650,0.025462,0
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,400,1951,1991,98125,47.7210,-122.319,1690,7639,0.013461,40
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,0,1933,0,98028,47.7379,-122.233,2720,8062,0.055556,0
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,910,1965,0,98136,47.5208,-122.393,1360,5000,0.008278,0
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,0,1987,0,98074,47.6168,-122.045,1800,7503,0.015843,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,0,2009,0,98103,47.6993,-122.346,1530,1509,0.003142,0
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,0,2014,0,98146,47.5107,-122.362,1830,7200,0.014533,0
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,0,2009,0,98144,47.5944,-122.299,1020,2007,0.003357,0
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,0,2004,0,98027,47.5345,-122.069,1410,1287,0.005970,0
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,0,2008,0,98144,47.5941,-122.299,1020,1357,0.003311,0

#### 1.3 –°–æ–∑–¥–∞–π—Ç–µ –ø—Ä–∏–∑–Ω–∞–∫–∏ –≥–æ–¥–∞ –ø—Ä–æ–¥–∞–∂–∏, –º–µ—Å—è—Ü–∞ –ø—Ä–æ–¥–∞–∂–∏
#### 1.4 –£–¥–∞–ª–∏—Ç–µ –ø—Ä–∏–∑–Ω–∞–∫–∏ date, zipcode, lat, long

In [11]:
df1['yr_sell'] = 0
df1['mnth_sell'] = 0
df1.drop(columns = ['date', 'zipcode', 'lat', 'long'], inplace = True)
df1.head(2)

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,price_per_sq_lot,delta_renovated,yr_sell,mnth_sell
0,7129300520,221900.0,3,1.00,1180,5650,1.0,0,0,3,...,1180.0,0,1955,0,1340,5650,0.025462,0,0,0
1,6414100192,538000.0,3,2.25,2570,7242,2.0,0,0,3,...,2170.0,400,1951,1991,1690,7639,0.013461,40,0,0

### –°–æ–∑–¥–∞–π—Ç–µ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º —Å –∫–ª–∏–µ–Ω—Ç–∞–º–∏:
clients = pd.DataFrame({
'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295, 939, 3840, 280, 20, 4332, 3475, 4213, 3113,
4809, 2134, 2242, 2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474],
'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060, 1189000207, 6821600300, 7137950720,
9510920050, 6131600255, 5428000070, 1788800910, 8100400160, 3123049142, 6306800010, 5083000375, 7920100025,
1951600150, 809001400, 339600110, 1622049154, 1099600250, 8563000110, 2768100205, 3995700435, 8861700030,
3303980210, 7731100066, 8146100580, 825069097, 3889100029, 9524100196]
})

house_id - —ç—Ç–æ –∏–Ω–¥–µ–∫—Å—ã –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞ —Å –¥–æ–º–∞–º–∏

In [13]:
clients = pd.DataFrame({
'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295, 939, 3840, 280, 20, 4332, 3475, 4213, 3113,
4809, 2134, 2242, 2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474],
'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060, 1189000207, 6821600300, 7137950720,
9510920050, 6131600255, 5428000070, 1788800910, 8100400160, 3123049142, 6306800010, 5083000375, 7920100025,
1951600150, 809001400, 339600110, 1622049154, 1099600250, 8563000110, 2768100205, 3995700435, 8861700030,
3303980210, 7731100066, 8146100580, 825069097, 3889100029, 9524100196]
})
df2 = df.copy()

#### 2.1 –ü—Ä–∏—Å–æ–µ–¥–∏–Ω–∏—Ç–µ –∫ —Ç–∞–±–ª–∏—Ü–µ clients –¥–∞–Ω–Ω—ã–µ –ø–æ –¥–æ–º–∞–º —á–µ—Ä–µ–∑ –º–µ—Ç–æ–¥ join

In [14]:
clients = clients.set_index('house_id')
df2 = df2.set_index('id')
clients.join(df2)

,client_id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
house_id,,,,,,,,,,,,,,,,,,,,,
339600110,4809,20140923T000000,395000.0,3,2.50,1610,3755,2.0,0,0,...,7,1610.0,0,1987,0,98052,47.6825,-122.097,1300,3823
809001400,3113,20140922T000000,925000.0,3,1.00,1630,3200,1.5,0,0,...,8,1630.0,0,1912,0,98109,47.6351,-122.352,1710,3600
825069097,1764,20140619T000000,770000.0,3,2.50,2650,40705,2.0,0,0,...,9,2650.0,0,1994,0,98053,47.6680,-122.063,2550,42625
1099600250,2242,20141202T000000,260000.0,3,1.75,1710,6400,1.0,0,0,...,7,1240.0,470,1976,0,98023,47.3036,-122.377,1600,6400
1189000207,2308,20141021T000000,387000.0,2,2.50,1170,1394,2.0,0,0,...,8,1170.0,0,2001,0,98122,47.6131,-122.297,1250,3136
1522700060,4535,20140624T000000,518000.0,4,2.75,2520,14021,2.0,0,0,...,9,2520.0,0,1999,0,98019,47.7344,-121.957,2330,14007
1622049154,2134,20141215T000000,289900.0,3,1.75,1899,11325,2.0,0,0,...,7,1899.0,0,1943,2005,98198,47.3987,-122.300,2000,10454
1788800910,939,20141020T000000,190000.0,3,1.00,1200,10458,1.0,0,0,...,6,1200.0,0,1961,0,98023,47.3262,-122.342,1160,9000
1951600150,4213,20150408T000000,180000.0,3,1.00,1610,8500,1.5,0,0,...,7,1610.0,0,1959,0,98032,47.3717,-122.297,1070,8750
2131701075,3942,20141204T000000,420000.0,3,1.75,1720,5000,1.5,0,0,...,8,1720.0,0,1932,2009,98019,47.7380,-121.983,1410,8300
2768100205,4929,20140625T000000,519000.0,4,2.50,1950,2617,1.5,0,0,...,7,1250.0,700,1910,0,98107,47.6696,-122.372,1520,1438
3123049142,280,20140805T000000,452000.0,3,2.25,2600,14810,1.0,0,2,...,8,1490.0,1110,1956,0,98166,47.4326,-122.341,2450,16715
3303980210,3317,20150427T000000,1115000.0,4,3.75,4040,14212,2.0,0,0,...,11,4040.0,0,2002,0,98059,47.5189,-122.147,3940,14212
3889100029,1611,20140617T000000,810000.0,3,2.50,2670,10481,2.0,0,0,...,9,2670.0,0,2003,0,98033,47.6673,-122.176,2620,8895
3995700435,1384,20140702T000000,265000.0,4,3.00,1940,8170,1.0,0,0,...,7,1940.0,0,1948,0,98155,47.7381,-122.302,1310,8169
5083000375,4332,20141027T000000,170000.0,3,1.00,1310,9529,1.0,0,0,...,7,1310.0,0,1956,0,98198,47.4105,-122.295,1330,9529
5083000375,4332,20150319T000000,235000.0,3,1.00,1310,9529,1.0,0,0,...,7,1310.0,0,1956,0,98198,47.4105,-122.295,1330,9529
5104540330,3498,20150508T000000,679000.0,4,2.50,3680,7236,2.0,0,0,...,10,3680.0,0,2006,0,98038,47.3543,-122.005,3310,7180
5428000070,2295,20150511T000000,770000.0,5,3.50,4750,8234,2.0,0,2,...,10,3350.0,1400,2013,0,98198,47.3574,-122.318,2160,14496
6131600255,4236,20141222T000000,202500.0,3,2.00,1540,8316,1.0,0,0,...,6,1540.0,0,1954,0,98002,47.3230,-122.216,1250,8316
6306800010,20,20140811T000000,436472.0,4,2.50,2692,8392,2.0,0,0,...,9,2692.0,0,2014,0,98030,47.3519,-122.197,2574,14446
6821600300,2866,20150318T000000,886000.0,3,2.25,2380,6000,2.0,0,0,...,9,1650.0,730,1931,0,98199,47.6472,-122.393,2000,6000
6823100225,4684,20150414T000000,700000.0,4,1.75,1870,6000,1.0,0,0,...,8,1670.0,200,1949,0,98199,47.6435,-122.399,1710,6000
7137950720,2765,20150304T000000,339100.0,4,2.50,2350,10655,2.0,0,0,...,8,2350.0,0,1992,0,98092,47.3284,-122.171,2210,7028
7731100066,2260,20140612T000000,545000.0,3,1.00,1510,5000,1.5,0,0,...,7,1510.0,0,1909,0,98105,47.6708,-122.297,1680,4000
7920100025,3475,20150427T000000,450000.0,2,1.00,740,5100,1.0,0,0,...,7,740.0,0,1947,0,98115,47.6787,-122.301,920,5100
8100400160,3840,20150413T000000,700000.0,3,2.25,2330,11424,2.0,0,0,...,8,2330.0,0,1984,0,98052,47.6386,-122.110,2050,11448
8146100580,1727,20141020T000000,765000.0,3,1.00,1220,7585,1.0,0,0,...,7,1220.0,0,1954,0,98004,47.6094,-122.194,1380,8918
8563000110,2068,20150424T000000,427000.0,4,1.75,1460,9750,1.0,0,0,...,7,1460.0,0,1967,0,98008,47.6205,-122.102,1820,9840
8861700030,1589,20141212T000000,510000.0,3,1.50,2400,10275,1.0,0,0,...,8,1540.0,860,1964,0,98052,47.6888,-122.126,2380,10125
8965450190,1459,20150218T000000,295000.0,3,2.50,1500,3060,2.0,0,0,...,7,1500.0,0,1994,0,98006,47.5605,-122.117,2700,7734
9510920050,1472,20140902T000000,725000.0,3,2.50,2980,16996,2.0,0,0,...,10,2980.0,0,1992,0,98075,47.5950,-122.016,2980,15438
9524100196,1474,20141117T000000,239000.0,2,1.50,680,772,2.0,0,0,...,7,680.0,0,2005,0,98103,47.6950,-122.343,690,1059

#### 2.2 –ü—Ä–∏—Å–æ–µ–¥–∏–Ω–∏—Ç–µ –∫ —Ç–∞–±–ª–∏—Ü–µ clients –¥–∞–Ω–Ω—ã–µ –ø–æ –¥–æ–º–∞–º —á–µ—Ä–µ–∑ –º–µ—Ç–æ–¥ merge

In [15]:
clients = clients.reset_index()
df2 = df2.reset_index()
clients.merge(df2, left_on='house_id', right_on='id')

,house_id,client_id,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,8965450190,1459,8965450190,20150218T000000,295000.0,3,2.50,1500,3060,2.0,...,7,1500.0,0,1994,0,98006,47.5605,-122.117,2700,7734
1,6823100225,4684,6823100225,20150414T000000,700000.0,4,1.75,1870,6000,1.0,...,8,1670.0,200,1949,0,98199,47.6435,-122.399,1710,6000
2,5104540330,3498,5104540330,20150508T000000,679000.0,4,2.50,3680,7236,2.0,...,10,3680.0,0,2006,0,98038,47.3543,-122.005,3310,7180
3,2131701075,3942,2131701075,20141204T000000,420000.0,3,1.75,1720,5000,1.5,...,8,1720.0,0,1932,2009,98019,47.7380,-121.983,1410,8300
4,1522700060,4535,1522700060,20140624T000000,518000.0,4,2.75,2520,14021,2.0,...,9,2520.0,0,1999,0,98019,47.7344,-121.957,2330,14007
5,1189000207,2308,1189000207,20141021T000000,387000.0,2,2.50,1170,1394,2.0,...,8,1170.0,0,2001,0,98122,47.6131,-122.297,1250,3136
6,6821600300,2866,6821600300,20150318T000000,886000.0,3,2.25,2380,6000,2.0,...,9,1650.0,730,1931,0,98199,47.6472,-122.393,2000,6000
7,7137950720,2765,7137950720,20150304T000000,339100.0,4,2.50,2350,10655,2.0,...,8,2350.0,0,1992,0,98092,47.3284,-122.171,2210,7028
8,9510920050,1472,9510920050,20140902T000000,725000.0,3,2.50,2980,16996,2.0,...,10,2980.0,0,1992,0,98075,47.5950,-122.016,2980,15438
9,6131600255,4236,6131600255,20141222T000000,202500.0,3,2.00,1540,8316,1.0,...,6,1540.0,0,1954,0,98002,47.3230,-122.216,1250,8316
10,5428000070,2295,5428000070,20150511T000000,770000.0,5,3.50,4750,8234,2.0,...,10,3350.0,1400,2013,0,98198,47.3574,-122.318,2160,14496
11,1788800910,939,1788800910,20141020T000000,190000.0,3,1.00,1200,10458,1.0,...,6,1200.0,0,1961,0,98023,47.3262,-122.342,1160,9000
12,8100400160,3840,8100400160,20150413T000000,700000.0,3,2.25,2330,11424,2.0,...,8,2330.0,0,1984,0,98052,47.6386,-122.110,2050,11448
13,3123049142,280,3123049142,20140805T000000,452000.0,3,2.25,2600,14810,1.0,...,8,1490.0,1110,1956,0,98166,47.4326,-122.341,2450,16715
14,6306800010,20,6306800010,20140811T000000,436472.0,4,2.50,2692,8392,2.0,...,9,2692.0,0,2014,0,98030,47.3519,-122.197,2574,14446
15,5083000375,4332,5083000375,20141027T000000,170000.0,3,1.00,1310,9529,1.0,...,7,1310.0,0,1956,0,98198,47.4105,-122.295,1330,9529
16,5083000375,4332,5083000375,20150319T000000,235000.0,3,1.00,1310,9529,1.0,...,7,1310.0,0,1956,0,98198,47.4105,-122.295,1330,9529
17,7920100025,3475,7920100025,20150427T000000,450000.0,2,1.00,740,5100,1.0,...,7,740.0,0,1947,0,98115,47.6787,-122.301,920,5100
18,1951600150,4213,1951600150,20150408T000000,180000.0,3,1.00,1610,8500,1.5,...,7,1610.0,0,1959,0,98032,47.3717,-122.297,1070,8750
19,809001400,3113,809001400,20140922T000000,925000.0,3,1.00,1630,3200,1.5,...,8,1630.0,0,1912,0,98109,47.6351,-122.352,1710,3600
20,339600110,4809,339600110,20140923T000000,395000.0,3,2.50,1610,3755,2.0,...,7,1610.0,0,1987,0,98052,47.6825,-122.097,1300,3823
21,1622049154,2134,1622049154,20141215T000000,289900.0,3,1.75,1899,11325,2.0,...,7,1899.0,0,1943,2005,98198,47.3987,-122.300,2000,10454
22,1099600250,2242,1099600250,20141202T000000,260000.0,3,1.75,1710,6400,1.0,...,7,1240.0,470,1976,0,98023,47.3036,-122.377,1600,6400
23,8563000110,2068,8563000110,20150424T000000,427000.0,4,1.75,1460,9750,1.0,...,7,1460.0,0,1967,0,98008,47.6205,-122.102,1820,9840
24,2768100205,4929,2768100205,20140625T000000,519000.0,4,2.50,1950,2617,1.5,...,7,1250.0,700,1910,0,98107,47.6696,-122.372,1520,1438
25,3995700435,1384,3995700435,20140702T000000,265000.0,4,3.00,1940,8170,1.0,...,7,1940.0,0,1948,0,98155,47.7381,-122.302,1310,8169
26,8861700030,1589,8861700030,20141212T000000,510000.0,3,1.50,2400,10275,1.0,...,8,1540.0,860,1964,0,98052,47.6888,-122.126,2380,10125
27,3303980210,3317,3303980210,20150427T000000,1115000.0,4,3.75,4040,14212,2.0,...,11,4040.0,0,2002,0,98059,47.5189,-122.147,3940,14212
28,7731100066,2260,7731100066,20140612T000000,545000.0,3,1.00,1510,5000,1.5,...,7,1510.0,0,1909,0,98105,47.6708,-122.297,1680,4000
29,8146100580,1727,8146100580,20141020T000000,765000.0,3,1.00,1220,7585,1.0,...,7,1220.0,0,1954,0,98004,47.6094,-122.194,1380,8918
30,825069097,1764,825069097,20140619T000000,770000.0,3,2.50,2650,40705,2.0,...,9,2650.0,0,1994,0,98053,47.6680,-122.063,2550,42625
31,3889100029,1611,3889100029,20140617T000000,810000.0,3,2.50,2670,10481,2.0,...,9,2670.0,0,2003,0,98033,47.6673,-122.176,2620,8895
32,9524100196,1474,9524100196,20141117T000000,239000.0,2,1.50,680,772,2.0,...,7,680.0,0,2005,0,98103,47.6950,-122.343,690,1059

#### 3.1 –ù–∞–π–¥–∏—Ç–µ —Å—Ä–µ–¥–Ω—é—é —Å—Ç–æ–∏–º–æ—Å—Ç—å –¥–æ–º–æ–≤ –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ —Å–ø–∞–ª–µ–Ω

In [16]:
df3 = df.copy()

In [18]:
df3.pivot_table(index='bedrooms',values='price',aggfunc='mean')

                 price
bedrooms
0         4.095038e+05
1         3.176429e+05
2         4.013727e+05
3         4.662321e+05
4         6.354195e+05
5         7.865998e+05
6         8.255206e+05
7         9.511847e+05
8         1.105077e+06
9         8.939998e+05
10        8.193333e+05
11        5.200000e+05
33        6.400000e+05

#### 3.2 –ù–∞–π–¥–∏—Ç–µ –º–∏–Ω–∏–º–∞–ª—å–Ω—É—é, —Å—Ä–µ–¥–Ω—é—é –∏ –º–∞–∫—Å–∏–º–∞–ª—å–Ω—É—é —Å—Ç–æ–∏–º–æ—Å—Ç–∏ –¥–æ–º–æ–≤ –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç —Å–æ—Å—Ç–æ—è–Ω–∏—è –¥–æ–º–∞

In [21]:
df3.pivot_table(index='condition',values='price',aggfunc=['min','mean','max'])

                min           mean        max
              price          price      price
condition
1           78000.0  334431.666667  1500000.0
2           80000.0  327287.145349  2555000.0
3           75000.0  542012.578148  7062500.0
4           89000.0  521200.390033  7700000.0
5          110000.0  612418.089359  3650000.0

#### 3.3 –ü–æ—Å—Ç—Ä–æ–π—Ç–µ —Ç–∞–±–ª–∏—Ü—É —Å –ø–æ–¥—Å—á–µ—Ç–æ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –¥–æ–º–æ–≤ –≤ –¥–∞–Ω–Ω—ã—Ö –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç –≤–∏–¥–∞ –Ω–∞ –Ω–∞–±–µ—Ä–µ–∂–Ω—É—é –∏ –æ—Ü–µ–Ω–∫–æ–π –≤–∏–¥–∞

In [23]:
pd.crosstab(index=df3['waterfront'], columns=df3['view'])

view            0    1    2    3    4
waterfront
0           19489  331  955  491  184
1               0    1    8   19  135

#### 3.4 –ö–∞–∫–∏—Ö –¥–æ–º–æ–≤ –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç —ç—Ç–∞–∂–Ω–æ—Å—Ç–∏ –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ —Å–ø–∞–ª–µ–Ω –±–æ–ª—å—à–µ?

In [24]:
pd.crosstab(index=df3['floors'], columns=df3['bedrooms'])

bedrooms  0    1     2     3     4    5    6   7   8   9   10  11  33
floors
1.0        4  162  1951  5455  2383  605  104   9   5   0   1   0   1
1.5        0   21   182   786   698  185   30   7   1   0   0   0   0
2.0        6   12   497  3118  3682  775  119  19   6   4   2   1   0
2.5        0    1     5    56    58   23   14   2   0   2   0   0   0
3.0        2    3   123   405    61   13    5   1   0   0   0   0   0
3.5        1    0     2     4     0    0    0   0   1   0   0   0   0

#### 3.5 –ü–æ—Å—Ç—Ä–æ–π—Ç–µ —Ç–∞–±–ª–∏—Ü—É —Å –ø–æ–¥—Å—á–µ—Ç–æ–º –º–µ–¥–∏–∞–Ω–Ω–æ–π —Å—Ç–æ–∏–º–æ—Å—Ç–∏ –¥–æ–º–æ–≤ –≤ –¥–∞–Ω–Ω—ã—Ö –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç —Å–æ—Å—Ç–æ—è–Ω–∏—è –¥–æ–º–∞ –∏ –æ—Ü–µ–Ω–∫–∏ –¥–æ–º–∞

In [32]:
df3.pivot_table(index='condition',columns='grade',values='price',aggfunc='std',dropna=False).fillna(0)

grade,1,3,4,5,6,7,8,9,10,11,12,13
condition,,,,,,,,,,,,
1,0.0,0.0,0.000000,219718.001083,136757.712929,136069.988119,802566.196647,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00
2,0.0,0.0,97664.220675,94011.524116,152513.868697,171715.770476,146035.084913,190918.830920,1.134906e+06,0.000000,0.000000e+00,0.000000e+00
3,0.0,0.0,91871.286773,124817.787105,113655.566983,143549.470366,191362.702290,279019.440406,4.336958e+05,661556.638046,1.009922e+06,1.550659e+06
4,0.0,0.0,100236.061514,97637.601012,130538.775398,163407.654792,241504.587721,365444.126652,5.182839e+05,753472.311392,1.180422e+06,2.757716e+06
5,0.0,0.0,0.000000,118455.368700,124855.504047,174783.525367,257326.191979,368709.784838,5.911724e+05,829737.612551,8.983874e+05,0.000000e+00